<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Roles</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idRol</mat-label>
          <input matInput placeholder="ID" formControlName="id" />
        </mat-form-field>

        <!-- <br />
        <mat-form-field class="example-full-width">
          <mat-label> Rol </mat-label>
          <input matInput placeholder="rol" formControlName="rol" />
          <mat-error
            *ngIf="obtenerControlCampo('rol')?.errors?.['required']"
          >
            El rol es obligatorio.
          </mat-error>
        </mat-form-field> -->

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rol">
            <mat-option *ngFor="let p of trol" [value]="p.value">
              {{p.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="obtenerControlCampo('rol')?.errors?.['required']">
            El rol es obligatorio.
          </mat-error>
        </mat-form-field>
        
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <mat-select 
            [(value)]="idUsuarioSeleccionado"
            formControlName="user">
              <mat-option *ngFor="let u of listaUsuarios" [value]="u.idUser">
                {{u.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('user')?.errors?.['required']">
              Su nombre es obligatorio.
            </mat-error>
          </mat-form-field>

       
        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/roles">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>

