mat-form-field {
    width: 50%;
}
.logo {
    height: 80px;
    margin-top: 8rem;
    margin-bottom: 10px;
  }

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #F5F9FF;
    padding-bottom: 200px;
  }

header{
  position: fixed;
  top:0; left:0; right:0;
  background:#fff;
  /* padding:2rem 2%; */
  padding: 12px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  
}
.lgo{
    width: 30%;
    /* padding-right: 60px; */
  }
.navbar a{
    font-size: 22px;
    padding:0 1rem;
    color:black;
    text-decoration: none;
    font-weight: 2500;
}

.navbar a:hover{
    color: rgb(24, 109, 158);
}

#menu {
    display: none;
}
.fa-bars {
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    display: none;
}
.navbar .btnR{
  background-color: rgb(64, 164, 177);
  color: white;
  font-size: 18px;
}
.navbar .btnR:hover{
  color:black
}
.container h1{
  color: #7C70C7;
  
}
  