
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <br />
    <h2 style="text-align: center">Lista de Subscripcion</h2>
    <div style="text-align: right;">
      <button mat-raised-button color="primary" routerLink="/subscriptions/nuevo">Nuevo</button>
    </div>
    <mat-form-field>
      <input matInput (keyup)="filter($event)" placeholder="buscar"/>
    </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Codigo/ID Column -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.idSubscription}} </td>
            </ng-container>
          
            <!-- Persona/nombre Column -->
            <ng-container matColumnDef="tipo de suscripcion">
              <th mat-header-cell *matHeaderCellDef> Tipo de Subscripcion</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef>Monto</th>
                <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
              </ng-container>
  
            <ng-container matColumnDef="fecha de inicio">
                <th mat-header-cell *matHeaderCellDef>Fecha de Inicio </th>
                <td mat-cell *matCellDef="let element"> {{ element.sub_start_date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let element">{{ element.users.name }}</td>
              </ng-container>
    

            <ng-container matColumnDef="accion01">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-raised-button
                  color="warn"
                  [routerLink]="['ediciones', element.idSubscription]"
                >
                  Actualizar
                </button>
              </td></ng-container
            >
            <ng-container matColumnDef="accion02">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-raised-button
                  color="accent"
                  (click)="eliminar(element.idSubscription)"
                >
                  Eliminar
                </button>
              </td></ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
          
          <mat-paginator 
            [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons
            aria-label="Select page">
          </mat-paginator>
          
      </div>
    </body>
</html>
