<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <br />
    <h2 style="text-align: center">Lista de Notificaiones</h2>
    <div style="text-align: right;">
      <button mat-raised-button color="primary" routerLink="/components/notification/nuevo" style="background-color: #7C70C7;">Nuevo</button>
    </div>
    <mat-form-field>
      <input matInput (keyup)=filter($event) placeholder="buscar"/>
    </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Codigo/ID Column -->
            <ng-container matColumnDef="idNotification">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.idNotification}} </td>
            </ng-container>


              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef>Mensaje </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.message }}
                </td>
              </ng-container>

              <ng-container matColumnDef="sender">
                <th mat-header-cell *matHeaderCellDef>De: </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.sender.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="receiver">
                <th mat-header-cell *matHeaderCellDef>Para: </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.receiver.name }}
                </td>
              </ng-container>


              <ng-container matColumnDef="accion01">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon style="color: rgb(30, 116, 255)"[routerLink]="['ediciones', element.idConsultation]" >autorenew</mat-icon>
                  <mat-icon style="color: #ff1e57" (click)="eliminar(element.idConsultation)">delete_outline</mat-icon>
                </td></ng-container>

              <!-- <ng-container matColumnDef="accion02">
                <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon style="color: #ff1e57" (click)="eliminar(element.idCategory)">delete_outline</mat-icon>

                </td></ng-container> -->
            >


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons
            aria-label="Select page">
          </mat-paginator>
      </div>
    </body>
</html>
