<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Consulta</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idNotification</mat-label>
          <input matInput placeholder="ID" formControlName="idNotification" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label> Mensaje </mat-label>
          <input matInput placeholder="message" formControlName="message" />
          <mat-error
            *ngIf="obtenerControlCampo('message')?.errors?.['required']"
          >
            El mensaje es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />

          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Cliente</mat-label>
            <mat-select
            [(value)]="idReciversSeleccionado"
            formControlName="receiver">
              <mat-option *ngFor="let u of listaRecivers" [value]="u.idUser">
                {{u.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('receiver')?.errors?.['required']">
              Su nombre es obligatorio.
            </mat-error>
          </mat-form-field>


          <br>
          <mat-form-field class="example-full-width">
            <mat-label> Abogado </mat-label>
            <mat-select
            [(value)]="idSendersSeleccionado"
            formControlName="sender">
              <mat-option *ngFor="let c of listaSenders" [value]="c.idUser">
                {{c.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('sender')?.errors?.['required']">
              La categoria es obligatorio.
            </mat-error>
          </mat-form-field>


        <br />
        <button mat-raised-button style="background-color: #7C70C7;color: white;">Aceptar</button>
        <button mat-raised-button style="background-color: #70a7c7;color: white;" routerLink="/components/notification">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
