<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de Comentarios</h2>
      <div style="text-align: right">
        <button mat-raised-button color="primary" routerLink="/components/comments/nuevo" style="background-color: #7C70C7;">
          Nuevo
        </button>
      </div>
      <mat-form-field>
        <input matInput (keyup)="filter($event)" placeholder="buscar" />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Comentario/ID Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">{{ element.idComment }}</td>
        </ng-container>

        <!-- Comentario/nombre Column -->
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.client.name }}</td>
        </ng-container>

        <!-- Comentario/cliente Column -->
        <ng-container matColumnDef="abogado">
          <th mat-header-cell *matHeaderCellDef>Abogado</th>
          <td mat-cell *matCellDef="let element">{{ element.lawyer.name }}</td>
        </ng-container>

        <!-- Comentario/abogado Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripcion</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <!-- Comentario/puntaje Column -->
        <ng-container matColumnDef="puntos">
          <th mat-header-cell *matHeaderCellDef>Puntaje</th>
          <td mat-cell *matCellDef="let element">{{ element.score }}</td>
        </ng-container>

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="warn"
              [routerLink]="['ediciones', element.idComment]"
            >
              Actualizar
            </button>
          </td></ng-container
        >
        <ng-container matColumnDef="accion02">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="accent"
              (click)="eliminar(element.idComment)"
            >
              Eliminar
            </button>
          </td></ng-container
        >

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </body>
</html>
