<mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuPersona">Usuario</button>
    <button mat-button [matMenuTriggerFor]="menuA">Categoria</button>
  </mat-toolbar>
  
  <mat-menu #menuPersona="matMenu">
    <button mat-menu-item routerLink="/users/nuevo">Registrar</button>
    <button mat-menu-item routerLink="/users">Listar</button>

  </mat-menu>

  <mat-menu #menuA="matMenu">
    <button mat-menu-item routerLink="/categories/nuevo">Registrar </button>
    <button mat-menu-item routerLink="/categories">Listar </button>
    <!-- Agrega más elementos de menú si es necesario -->
  </mat-menu>
  

  
<router-outlet></router-outlet>