<mat-toolbar color="primary">
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuUsuario">Usuario</button>
  <button mat-button [matMenuTriggerFor]="menuRol">Rol</button>
  <button mat-button [matMenuTriggerFor]="menuCategoria">Categoria</button>
  <button mat-button [matMenuTriggerFor]="menuDistrito">Distrito</button>
  <button mat-button [matMenuTriggerFor]="menuConsultas">Consultas</button>
  <button mat-button [matMenuTriggerFor]="menuDocumentacion">
    Documentación
  </button>
  <button mat-button [matMenuTriggerFor]="menuExpediente">Expediente</button>
  <button mat-button [matMenuTriggerFor]="menuJuzgados">Juzgados</button>
  <button mat-button [matMenuTriggerFor]="menuComentarios">Comentarios</button>
</mat-toolbar>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/users/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/users">Listar</button>
</mat-menu>

<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/roles/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/roles">Listar</button>
</mat-menu>

<mat-menu #menuCategoria="matMenu">
  <button mat-menu-item routerLink="/categories/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/categories">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuDistrito="matMenu">
  <button mat-menu-item routerLink="/districts/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/districts">Listar</button>
</mat-menu>

<mat-menu #menuConsultas="matMenu">
  <button mat-menu-item routerLink="/consultations/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/consultations">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuDocumentacion="matMenu">
  <button mat-menu-item routerLink="/documentations/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/documentations">Listar</button>
</mat-menu>

<mat-menu #menuExpediente="matMenu">
  <button mat-menu-item routerLink="/proceedings/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/proceedings">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuJuzgados="matMenu">
  <button mat-menu-item routerLink="/courts/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/courts">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuComentarios="matMenu">
  <button mat-menu-item routerLink="/comments/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/comments">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<router-outlet></router-outlet>
