.example-spacer {
    flex: 1 1 auto;
  }
.nav{
    background-color: rgb(64, 164, 177);
  }
.head{
    background-color: rgb(236, 237, 239);
}
.nav .col1{
    color: white;
    font-size: 15px;
}

.nav_menu{
    display: flex;
    margin-top:25px;

  }
.nav_menu a{
    list-style: none;
    color:black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 40px;
  }
 
.nav_menu  a:hover{
    color: rgb(24, 109, 158);
}
.navegation .btnR{
    background-color: rgb(56, 180, 196);
    margin-top: -5px;
    margin-left: 17px;
}
.navegation .btnR:hover{
    color:white
}
.navegation .btnrol{
  font-size: 14px;
  margin-left: 15px;
  margin-top: 7px;
}
.navegation .btnrol:hover{
  color:black;
  
}


