<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Distrito</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idDistrict</mat-label>
          <input matInput placeholder="Id" formControlName="idDistrict" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="distrito" formControlName="name" />
          <mat-error
            *ngIf="obtenerControlCampo('name')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
       
        <br />
        <button mat-raised-button style="background-color: #7C70C7;color: white;">Aceptar</button>
        <button mat-raised-button style="background-color: #70a7c7;color: white;" routerLink="/components/categories">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
